body {
	text-align : center;
	font-family : Tahoma;
	font-size : 14px;
	background-color : black;
	/* toe te voegen */
}
.all {
	text-align : left;
	width : 700px;
	margin : 100px auto;
	min-height : 600px;
	max-height: 784px;
	background-image : url(bg.jpg);
	border : 4px solid red;
}

#title {
	display: inline-block;
	position: absolute;
	width: 298px;
	height: 133px;
	top: 70px;
	left: 630px;
}

#saw {
	display: inline-block;
	position: absolute;
	width: 193px;
	height: 195px;
	top: 250px;
	left: 550px;
}
#saw:hover {
	top: 260px;
	left: 560x;
}

#hammer {
	display: inline-block;
	position: absolute;
	width: 191px;
	height: 231px;
	top: 80px;
	left: 1080px;
}
#hammer:hover {
	top: 90px;
	left: 1070px;
}

#pincers {
	display: inline-block;
	position: absolute;
	width: 189px;
	height: 116px;
	top: 400px;
	left: 1160px;
}
#pincers:hover {
	top: 410px;
	left: 1150px;
}

#screwdriver {
	display: inline-block;
	position: absolute;
	width: 196px;
	height: 97px;
	top: 270px;
	left: 1140px;
}
#screwdriver:hover {
	top: 280px;
	left: 1130px;
}

#toolbox {
	display: inline-block;
	position: absolute;
	width: 256px;
	height: 148px;
	top: 370px;
	left: 820px;
}
#toolbox:hover ul {
	display: block;
}
#toolbox ul li:hover {
	border: 2px solid black;
	background-color: #ffff80;
}
#toolbox ul li:hover a {
	color: black;
}

.tekststukje {
	position: absolute;
	top: 545px;
	width: 690px;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.5);
}

.all {
	height: 800px;
}

nav {
	background-image: url("bar1.png");
	height: 25px;
}
nav a {
	font-size: 15px;
	text-decoration: none;
	color: #808080;
	padding: 0 20px;
	font-weight: bold;
}
nav:hover {
	background-image: url("bar2.png");
}
nav:hover a {
	color: black;
}

ul {
	position: absolute;
	display: none;
	width: 100px;
	top: 45px;
	left: -50px;
	list-style: none;
}

li {
	padding: 5px;
	border: 1px solid black;
	background-color: #fff;
}

a {
	text-decoration: none;
	color: #b3b3b3;
}

.tooltip {
    position: relative;
    display: inline-block;
		color:blue;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #fff;
    color: black;
    padding: 5px 0;
    position: absolute;
		top: 20px;
		padding: 5px;
		border: 2px solid blue;
		border-radius: 5px;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
}
#humanfactor {
	color: blue;
}
